.env
# venv/**
venv/

*/migrations/*
!*/migrations/__init__.py

__pycache__

# # Django
# *.log
# *.pot
# *.pyc
# __pycache__
# db.sqlite3
# media
# migrations
# pdoc
# # pyenv
# .python-version
# # Visual Studio Code
# .vscode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# .history
# # Environments
# .env
# .venv
# env/
# venv/
# ENV/
# env.bak/
# venv.bak/
# /gamesenv/*